<p id="notice"><%= notice %></p>

<p>
  <strong>Idvolunteer:</strong>
  <%= @vol.IDVolunteer %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @vol.Prefix %>
</p>

<p>
  <strong>Namefirst:</strong>
  <%= @vol.NameFirst %>
</p>

<p>
  <strong>Namepreferred:</strong>
  <%= @vol.NamePreferred %>
</p>

<p>
  <strong>Namemiddle:</strong>
  <%= @vol.NameMiddle %>
</p>

<p>
  <strong>Namelast:</strong>
  <%= @vol.NameLast %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @vol.Suffix %>
</p>

<p>
  <strong>Title:</strong>
  <%= @vol.Title %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @vol.Organization %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @vol.Street1 %>
</p>

<p>
  <strong>City1:</strong>
  <%= @vol.City1 %>
</p>

<p>
  <strong>State1:</strong>
  <%= @vol.State1 %>
</p>

<p>
  <strong>Zipcode1:</strong>
  <%= @vol.ZipCode1 %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @vol.Phone1 %>
</p>

<p>
  <strong>Phonecell:</strong>
  <%= @vol.PhoneCell %>
</p>

<p>
  <strong>Fax1:</strong>
  <%= @vol.Fax1 %>
</p>

<p>
  <strong>Email1:</strong>
  <%= @vol.Email1 %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vol.Website %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @vol.Gender %>
</p>

<p>
  <strong>Bioethnicity:</strong>
  <%= @vol.BioEthnicity %>
</p>

<p>
  <strong>Biolanguage:</strong>
  <%= @vol.BioLanguage %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @vol.Coordinator %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @vol.Newsletter %>
</p>

<p>
  <strong>Retireeemploymenthistory:</strong>
  <%= @vol.RetireeEmploymentHistory %>
</p>

<p>
  <strong>Volcommitment:</strong>
  <%= @vol.VolCommitment %>
</p>

<p>
  <strong>Studentschool:</strong>
  <%= @vol.StudentSchool %>
</p>

<p>
  <strong>Studentmajor:</strong>
  <%= @vol.StudentMajor %>
</p>

<p>
  <strong>Studentgradyear:</strong>
  <%= @vol.StudentGradYear %>
</p>

<p>
  <strong>Volmentor:</strong>
  <%= @vol.VolMentor %>
</p>

<p>
  <strong>Volguestspeaker:</strong>
  <%= @vol.VolGuestSpeaker %>
</p>

<p>
  <strong>Volmockinterviews:</strong>
  <%= @vol.VolMockInterviews %>
</p>

<p>
  <strong>Volfieldtrip:</strong>
  <%= @vol.VolFieldTrip %>
</p>

<p>
  <strong>Voljobshadow:</strong>
  <%= @vol.VolJobShadow %>
</p>

<p>
  <strong>Volcomputer:</strong>
  <%= @vol.VolComputer %>
</p>

<p>
  <strong>Volarts:</strong>
  <%= @vol.VolArts %>
</p>

<p>
  <strong>Volgarden:</strong>
  <%= @vol.VolGarden %>
</p>

<p>
  <strong>Voltutor:</strong>
  <%= @vol.VolTutor %>
</p>

<p>
  <strong>Volcareerday:</strong>
  <%= @vol.VolCareerDay %>
</p>

<p>
  <strong>Volinternships:</strong>
  <%= @vol.VolInternships %>
</p>

<p>
  <strong>Volspecialevents:</strong>
  <%= @vol.VolSpecialEvents %>
</p>

<p>
  <strong>Volsports:</strong>
  <%= @vol.VolSports %>
</p>

<p>
  <strong>Vollibrary:</strong>
  <%= @vol.VolLibrary %>
</p>

<p>
  <strong>Volfacilities:</strong>
  <%= @vol.VolFacilities %>
</p>

<p>
  <strong>Voljoincommittee:</strong>
  <%= @vol.VolJoinCommittee %>
</p>

<p>
  <strong>Volreading:</strong>
  <%= @vol.VolReading %>
</p>

<p>
  <strong>Volgroupprojects:</strong>
  <%= @vol.VolGroupProjects %>
</p>

<p>
  <strong>Volmusic:</strong>
  <%= @vol.VolMusic %>
</p>

<p>
  <strong>Vollunchtime:</strong>
  <%= @vol.VolLunchtime %>
</p>

<p>
  <strong>Voloffice:</strong>
  <%= @vol.VolOffice %>
</p>

<%= link_to 'Edit', edit_vol_path(@vol) %> |
<%= link_to 'Back', vols_path %>
