<p id="notice"><%= notice %></p>

<p>
  <strong>Idevent:</strong>
  <%= @vol_event.IDEvent %>
</p>

<p>
  <strong>Idvolunteer:</strong>
  <%= @vol_event.IDVolunteer %>
</p>

<p>
  <strong>Dateevent:</strong>
  <%= @vol_event.DateEvent %>
</p>

<p>
  <strong>Eventtype:</strong>
  <%= @vol_event.EventType %>
</p>

<p>
  <strong>Project:</strong>
  <%= @vol_event.Project %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @vol_event.Hours %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @vol_event.Feedback %>
</p>

<p>
  <strong>Hourstotal:</strong>
  <%= @vol_event.HoursTotal %>
</p>

<p>
  <strong>Nameschool:</strong>
  <%= @vol_event.NameSchool %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vol_event.Status %>
</p>

<p>
  <strong>Nameteacher:</strong>
  <%= @vol_event.NameTeacher %>
</p>

<p>
  <strong>Time:</strong>
  <%= @vol_event.Time %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @vol_event.Instructions %>
</p>

<p>
  <strong>Datepassportcreated:</strong>
  <%= @vol_event.DatePassportCreated %>
</p>

<p>
  <strong>Datepassportdue:</strong>
  <%= @vol_event.DatePassportDue %>
</p>

<p>
  <strong>Idrequest:</strong>
  <%= @vol_event.IDRequest %>
</p>

<p>
  <strong>Datecreated:</strong>
  <%= @vol_event.DateCreated %>
</p>

<p>
  <strong>Datemodified:</strong>
  <%= @vol_event.DateModified %>
</p>

<p>
  <strong>Accountcreated:</strong>
  <%= @vol_event.AccountCreated %>
</p>

<p>
  <strong>Accountmodified:</strong>
  <%= @vol_event.AccountModified %>
</p>

<p>
  <strong>Accountpassportcreated:</strong>
  <%= @vol_event.AccountPassportCreated %>
</p>

<p>
  <strong>Scheduleongoing:</strong>
  <%= @vol_event.ScheduleOngoing %>
</p>

<p>
  <strong>Namevolunteer:</strong>
  <%= @vol_event.NameVolunteer %>
</p>

<p>
  <strong>Emailteacher:</strong>
  <%= @vol_event.EmailTeacher %>
</p>

<p>
  <strong>Emailvolunteer:</strong>
  <%= @vol_event.EmailVolunteer %>
</p>

<p>
  <strong>Projectanddate:</strong>
  <%= @vol_event.ProjectAndDate %>
</p>

<p>
  <strong>Feedbackvolunteer:</strong>
  <%= @vol_event.FeedbackVolunteer %>
</p>

<p>
  <strong>Feedbackteacher:</strong>
  <%= @vol_event.FeedbackTeacher %>
</p>

<p>
  <strong>Academicyear:</strong>
  <%= @vol_event.AcademicYear %>
</p>

<%= link_to 'Edit', edit_vol_event_path(@vol_event) %> |
<%= link_to 'Back', vol_events_path %>
