<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if current_user.usertype == "admin" %>
  <p>
    <strong>Usertype:</strong>
    <%= @user.usertype %>
  </p>

  <p>
    <strong>Volunteer:</strong>
    <%= @user.volunteer %>
  </p>
  
  <% if @user.volunteer != nil %>
    <p> TEST! </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
