<p id="notice"><%= notice %></p>

<p>
  <strong>Idschool:</strong>
  <%= @school.IDSchool %>
</p>

<p>
  <strong>Nameschool:</strong>
  <%= @school.NameSchool %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @school.Principal %>
</p>

<p>
  <strong>Street:</strong>
  <%= @school.Street %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.State %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @school.Zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.Phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @school.Fax %>
</p>

<p>
  <strong>District:</strong>
  <%= @school.District %>
</p>

<p>
  <strong>Region:</strong>
  <%= @school.Region %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
